<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="simulationRunner" type="FantasySimulator.DebugConsole.Config.SimulatorRunnerConfigSection, FantasySimulator.DebugConsole" />
  </configSections>

  <appSettings>
    <add key="TransfersPageJsonFilename" value="TransfersPage_20160124_0720.json" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>

  <simulationRunner>
    <runners>
      <add Type="FantasySimulator.Simulator.Soccer.SoccerSimulator, FantasySimulator.Simulator.Soccer" Enabled="true" ConfigUri="soccerSimulator.config" />
    </runners>
  </simulationRunner>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
