<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="simulationRunner" type="FantasySimulator.DebugConsole.Config.SimulatorRunnerConfigSection, FantasySimulator.DebugConsole" />
  </configSections>

  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>

  <simulationRunner>
    <runners>
      <add Type="FantasySimulator.Simulator.Soccer.SoccerSimulator, FantasySimulator.Simulator.Soccer" Enabled="true" ConfigUri="soccerSimulator.config" />
    </runners>
  </simulationRunner>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
