<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="soccerSimulator" type="FantasySimulator.Simulators.Soccer.Config.SoccerSimulatorConfigurationSectionHandler, FantasySimulator.DebugConsole" />
  </configSections>
  
  <soccerSimulator>
    <settings>
      <property name="SimulateFinishedGames" value="false" />
    </settings>
    
    <playerAnalysers>
      <analyser type="FantasySimulator.Simulator.Soccer.Analysers.HomeTeamAdvantagePlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Points" value="1" />
      </analyser>
      
      <analyser type="FantasySimulator.Simulator.Soccer.Analysers.ChanceOfPlayerNextFixturePlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <mapping>
          <lessOrEqualThan value="0" />
          <points value="-10" />
        </mapping>
        <mapping>
          <lessOrEqualThan value="0.25" />
          <points value="-3" />
        </mapping>
        <mapping>
          <lessOrEqualThan value="0.50" />
          <points value="-2" />
        </mapping>
        <mapping>
          <lessOrEqualThan value="0.75" />
          <points value="-1" />
        </mapping>
        <mapping>
          <lessOrEqualThan value="1" />
          <points value="+2" />
        </mapping>
      </analyser>
    </playerAnalysers>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </soccerSimulator>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
