<?xml version="1.0" encoding="utf-8" ?>
<pokerSimulator>

  <dataFactory>
    <factory type="FantasySimulator.DebugConsole.Data.XmlPokerDataFactory, FantasySimulator.DebugConsole">
      <property name="ConfigUri" value="App_Data/PokerSimulator/TexasHoldEm_Game1.xml" />
      <property name="RootElementName" value="pokerSimulatorData" />
    </factory>
  </dataFactory>

  <settings>
    
  </settings>
</pokerSimulator>