<?xml version="1.0" encoding="utf-8" ?>
<soccerSimulator>

  <dataFactory>
    <!--<factory type="FantasySimulator.DebugConsole.Data.FantasyPremierLeague2015DataFactory, FantasySimulator.DebugConsole" />-->

    <!--<factory type="FantasySimulator.DebugConsole.Data.FantasyPremierLeague2015DataFactory, FantasySimulator.DebugConsole">
      <property name="TransfersPageJsonFilename" value="TransfersPage_20151224_1251.json" />
    </factory>-->
    
    <factory type="FantasySimulator.DebugConsole.Data.FantasyPremierLeague2016DataFactory, FantasySimulator.DebugConsole">
      <!--<property name="FetchNewData" value="true" />
      <property name="JsonDataOutputFilename" value="../../App_Data/SoccerSimulator/FPL 2016-17/FPL 2016-17 {now-utc:yyyyMMdd_HHmmss}.json" />-->
      
      <property name="FetchNewData" value="false" />
      <property name="JsonDataOutputFilename" value="../../App_Data/SoccerSimulator/FPL 2016-17/FPL 2016-17 20160722_144735.json" />
    </factory>
    
    <!--<factory type="FantasySimulator.DebugConsole.Data.FantasyPremierLeagueApiDataFactory, FantasySimulator.DebugConsole">
      <property name="Username" value="" />
      <property name="Password" value="" />
      <property name="Logger" type="FantasyPremierLeagueApi.Helpers.Logger.ConsoleLogger, FantasyPremierLeagueApi.Helpers.Logger" />
    </factory>-->

    <!--<factory type="FantasySimulator.DebugConsole.Data.FantasyEuro2016DataFactory, FantasySimulator.DebugConsole">
      <property name="UseOfflineData" value="false" />
      <property name="DataTeamsFileName" value="EuroDataTeams.json" />
      <property name="DataFixturesFileName" value="EuroDataFixtures_{DateTime}.json" />
      <property name="DataFormationsFileName" value="EuroDataFormations.json" />
      <property name="DataPlayersFileName" value="EuroDataPlayers_{DateTime}.json" />
    </factory>-->

    <!--<factory type="FantasySimulator.DebugConsole.Data.XmlLeagueDataFactory, FantasySimulator.DebugConsole">
      <property name="ConfigUri" value="App_Data/Teams.xml" />
      <property name="RootElementName" value="soccerSimulatorData" />
    </factory>-->

    <!--<factory type="FantasySimulator.DebugConsole.Data.XmlLeagueDataFactory, FantasySimulator.DebugConsole">
      <property name="ConfigUri" value="App_Data/Premier League.xml" />
      <property name="RootElementName" value="soccerSimulatorData" />
    </factory>-->
  </dataFactory>

  <settings>
    <property name="SimulateFinishedGames" value="false" />
    <property name="TopRecommendationsPerPosition" value="6" />
    <property name="FilterUnavailablePlayers" value="true" />
    <property name="CalculateOddsWhenSimulating" value="false" />
    <property name="FixtureOddsProvider" type="FantasySimulator.Simulator.Soccer.ThirdParty.Kambi.KambiAPI, FantasySimulator.Simulator.Soccer" />

    <playerAnalysers>

      <!-- PlayerUnavailablePlayerAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.PlayerUnavailablePlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Points" value="-10" />
      </analyser>

      <!-- ChanceOfPlayingNextFixturePlayerAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.ChanceOfPlayingNextFixturePlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="0" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="-10" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="0.25" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="-3" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="0.50" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="-2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="0.75" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="-1" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="1" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="+2" />
          </mapping>
        </property>
      </analyser>

      <!-- PlaytimePlayerAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.PlaytimePlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
          <!--<mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="1" />
              <property name="Unit" value="playedgames" />
            </predicate>
            <property name="Points" value="0" />
          </mapping>-->
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="15" />
              <property name="Unit" value="minutes" />
            </predicate>
            <property name="Points" value="-1" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="80 / 90" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="70 / 90" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="60 / 90" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="1" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="15 / 90" />
              <property name="Unit" value="percentage" />
            </predicate>
            <property name="Points" value="-1" />
          </mapping>
        </property>
      </analyser>

      <!-- PositionPlayerAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.PositionPlayerAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointRangeMapper, FantasySimulator.Simulator.Soccer">

          <!-- Goalkeeper -->
          <mapping>
            <predicate type="FantasySimulator.Simulator.Soccer.Structs.StringPredicate, FantasySimulator.Simulator.Soccer">
              <property name="Operator" value="Equals" />
              <property name="Value" value="Goalkeeper" />
              <property name="Unit" value="player-position" />
            </predicate>
            <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
              <property name="MappingMode" value="AllMatching" />

              <!-- player-cleansheet-percentage -->
              <mappingGroup>
                <property name="MappingMode" value="FirstMatch" />
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessOrEqualThan" />
                    <property name="Value" value="1" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="5" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.6" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="3" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="0.6" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.5" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="2" />
                </mapping>
              </mappingGroup>

              <!-- player-total-saves-per-game -->
              <mappingGroup>
                <property name="MappingMode" value="FirstMatch" />
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="6" />
                    <property name="Unit" value="player-total-saves-per-game" />
                  </predicate>
                  <property name="Points" value="4" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="6" />
                    <property name="Unit" value="player-total-saves-per-game" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="4" />
                    <property name="Unit" value="player-total-saves-per-game" />
                  </predicate>
                  <property name="Points" value="2" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="4" />
                    <property name="Unit" value="player-total-saves-per-game" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="2.5" />
                    <property name="Unit" value="player-total-saves-per-game" />
                  </predicate>
                  <property name="Points" value="1" />
                </mapping>
              </mappingGroup>

            </property>
          </mapping>

          <!-- Defender -->
          <mapping>
            <predicate type="FantasySimulator.Simulator.Soccer.Structs.StringPredicate, FantasySimulator.Simulator.Soccer">
              <property name="Operator" value="Equals" />
              <property name="Value" value="Defender" />
              <property name="Unit" value="player-position" />
            </predicate>
            <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
              <property name="MappingMode" value="AllMatching" />

              <!-- player-cleansheet-percentage -->
              <mappingGroup>
                <property name="MappingMode" value="FirstMatch" />
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessOrEqualThan" />
                    <property name="Value" value="1" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="4" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.6" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="2" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="0.6" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.5" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="1" />
                </mapping>
              </mappingGroup>

            </property>
          </mapping>

          <!-- Midfielder -->
          <mapping>
            <predicate type="FantasySimulator.Simulator.Soccer.Structs.StringPredicate, FantasySimulator.Simulator.Soccer">
              <property name="Operator" value="Equals" />
              <property name="Value" value="Midfielder" />
              <property name="Unit" value="player-position" />
            </predicate>
            <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
              <property name="MappingMode" value="AllMatching" />

              <!-- player-cleansheet-percentage -->
              <mappingGroup>
                <property name="MappingMode" value="FirstMatch" />
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessOrEqualThan" />
                    <property name="Value" value="1" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="2" />
                </mapping>
                <mapping>
                  <property name="PredicateMode" value="All" />
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="3" />
                    <property name="Unit" value="player-total-games-played" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="LessThan" />
                    <property name="Value" value="0.75" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <predicate>
                    <property name="Operator" value="GreaterOrEqualThan" />
                    <property name="Value" value="0.5" />
                    <property name="Unit" value="player-total-cleansheets-percentage" />
                  </predicate>
                  <property name="Points" value="1" />
                </mapping>
              </mappingGroup>

            </property>
          </mapping>

          <!-- Forward -->
          <mapping>
            <predicate type="FantasySimulator.Simulator.Soccer.Structs.StringPredicate, FantasySimulator.Simulator.Soccer">
              <property name="Operator" value="Equals" />
              <property name="Value" value="Forward" />
              <property name="Unit" value="player-position" />
            </predicate>
            <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
              <property name="MappingMode" value="AllMatching" />

              <!-- player-cleansheet-percentage -->
              <mappingGroup>
                <property name="MappingMode" value="FirstMatch" />
                <mapping>
                  <property name="Points" value="0" />
                </mapping>
              </mappingGroup>

            </property>
          </mapping>

        </property>
      </analyser>

    </playerAnalysers>

    <teamAnalysers>

      <!-- HomeAdvantageTeamAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.HomeAdvantageTeamAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="PointsWhenHomeTeam" value="1" />
        <property name="PointsWhenAwayTeam" value="-1" />
      </analyser>

      <!-- FormTeamAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.FormTeamAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="MinGamesPlayed" value="6" />
        <property name="NumberOfRecentGames" value="6" />

        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="12" />
              <property name="Unit" value="points" />
            </predicate>
            <property name="Points" value="4" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="10" />
              <property name="Unit" value="points" />
            </predicate>
            <property name="Points" value="2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="4" />
              <property name="Unit" value="points" />
            </predicate>
            <property name="Points" value="-4" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="6" />
              <property name="Unit" value="points" />
            </predicate>
            <property name="Points" value="-1" />
          </mapping>
        </property>
      </analyser>

      <!-- FixtureEloTeamAnalyser -->
      <analyser enabled="true" type="FantasySimulator.Simulator.Soccer.Analysers.FixtureEloTeamAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="EloProvider" type="FantasySimulator.Simulator.Soccer.ThirdParty.ClubElo.ClubElo, FantasySimulator.Simulator.Soccer" />

        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
          <property name="MappingMode" value="AllMatching" />

          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="0.10" />
              <property name="Unit" value="elo-team-differance-percentage" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="-0.10" />
              <property name="Unit" value="elo-team-differance-percentage" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="-2" />
          </mapping>
        </property>
      </analyser>

      <!-- FixtureOddsTeamAnalyser -->
      <analyser enabled="false" type="FantasySimulator.Simulator.Soccer.Analysers.FixtureOddsTeamAnalyser, FantasySimulator.Simulator.Soccer">
        <property name="Mapper" type="FantasySimulator.Simulator.Soccer.Structs.PointMapper, FantasySimulator.Simulator.Soccer">
          <property name="MappingMode" value="AllMatching" />

          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="1.35" />
              <property name="Unit" value="odds-win" />
            </predicate>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="11.0" />
              <property name="Unit" value="odds-loss" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="2" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="1.5" />
              <property name="Unit" value="odds-win" />
            </predicate>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="4.0" />
              <property name="Unit" value="odds-loss" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="1" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="LessOrEqualThan" />
              <property name="Value" value="1.8" />
              <property name="Unit" value="odds-win" />
            </predicate>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="2.2" />
              <property name="Unit" value="odds-loss" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="1" />
          </mapping>
          <mapping>
            <predicate>
              <property name="Operator" value="GreaterOrEqualThan" />
              <property name="Value" value="2.0" />
              <property name="Unit" value="odds-win" />
            </predicate>
            <predicate>
              <property name="Operator" value="LessThan" />
              <property name="Value" value="2.0" />
              <property name="Unit" value="odds-loss" />
            </predicate>
            <property name="PredicateMode" value="All" />
            <property name="Points" value="-1" />
          </mapping>
        </property>
      </analyser>
    </teamAnalysers>

  </settings>
</soccerSimulator>